          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '55' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS S/ALCOHOL     ____bebidas_____55be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '57' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____57be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '59' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> TRAGOS                ____bebidas_____59be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '61' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKYS               ____bebidas_____61be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '63' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> COGNAC Y LICORES      ____bebidas_____63be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '65' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNES Y SIDRAS   ____bebidas_____65be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '67' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.FIN DEL MUNDO       ____bebidas_____67be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '69' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.NIETO SENETINER     ____bebidas_____69be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '71' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.LUIGI BOSCA         ____bebidas_____71be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '73' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.NORTON              ____bebidas_____73be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '75' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BLANCOS               ____bebidas_____75be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '77' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> ROSADOS               ____bebidas_____77be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '81' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.LA RURAL            ____bebidas_____81be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '83' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.NAVARRO CORREAS     ____bebidas_____83be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '85' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.BIANCHI             ____bebidas_____85be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '89' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BODEGAS TRAPICHE      ____bebidas_____89be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '90' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.CHANDON             ____bebidas_____90be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '91' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> OTRAS BODEGAS         ____bebidas_____91be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
                <h2 class="text-light"> B.EL ESTECO           ____bebidas_____92be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '93' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.LOPEZ               ____bebidas_____93be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
                <h2 class="text-light"> B.FINCA LAS MORAS     ____bebidas_____94be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '95' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.TERRAZAS LOS ANDES  ____bebidas_____95be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
                <h2 class="text-light"> B.CATENA ZAPATA       ____bebidas_____96be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '97' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> B.SAN TELMO           ____bebidas_____97be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
