          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDWICHES            ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> MARISCOS              ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PESCADOS              ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADOS CON SALSAS   ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SUGERENCIAS           ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ARROCES               ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MINUTAS               ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SUPREMAS ESPECIALES   ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '27' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> LOMOS ESPECIALES      ____comidas_____27co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '29' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> OMELETTES Y TORTILLA  ____comidas_____29co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '35' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS             ____comidas_____35co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '37' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NUESTRAS PASTAS       ____comidas_____37co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '39' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARRILLADA            ____comidas_____39co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '43' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADOS GRILLE       ____comidas_____43co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
